.about-page {
    margin: 10% 10%;
  }
  
  .about-content {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
  
  }
  .about-content img{
    border-radius: 5%;
  }
  .about-content p {
    font-size: 16px;
    margin-bottom: 50px;
    padding: 10px;
  }
  
  .about-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 7% 3%;
  }
  
  .about-content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin: 0%;
    padding: 0%;
  }
  
  .about-content ul li img {
    margin:  5%;
    max-width:fit-content; /* Note: 'size-adjust' is not a valid CSS property. I assume you meant 'max-width'. */
    border-radius: 10%;
    background-color: blue;
  }
  @media screen and (max-width: 650px){
    .about-content ul li img {
      margin:  0%;
      width: 100%; /* Note: 'size-adjust' is not a valid CSS property. I assume you meant 'max-width'. */
      height: 100%;
      border-radius: 10%;
      position: relative;
      top: 10%;
      
    }
    .about-content ul li {
      margin-bottom: 20px;
      display: flex;
      
      align-items: center;
      margin-left: 0%;
      margin: 0%;
      padding: 0%;
    }
    .about-content img{
      border-radius: 5%;
      width: 120%;
      height: 50%;
    }
  }