
   .auto-slider-container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 60vh; /* Center vertically within the viewport */
    margin-top: 2%;
    border-radius: 20%;
    size:inherit;
    padding:0px;
    margin-bottom: 0%;
  }
  .auto-slider-container img{
    width:50vw;
    transition: transform 0.6s ease 0s;
  }
  .auto-slider-container img:hover{
    transform:scale(1.2);
    
    z-index: 900;
  }