.history-panel {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .history-panel h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
  }
  .image {
    width: 70%;
    height: 70%;
  }
  .events-container {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
  }
  
  .event {
    width: 50%;
    margin-bottom: 20px;
    background-color: #52525200;
    padding: 70px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .event:nth-child(3n + 4) {
    margin-right: 0;
  }
  
  .year {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: aliceblue;
    color: #fff;
  }
  
  .description {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #fff;
  }