.body{
  background-color: #000e5f;
}
.hero1{
    text-align: center;
    background:linear-gradient(
     center
      rgba(0,0,0,0)
      rgba(0,0,0,0.7)
      url(C:\Users\Bayasaa\OneDrive\Desktop\js\app2\public\repomse920-2.jpg)
    );
    border-block-end-color: #000;
    justify-content: center;
    border-radius: 0%;
    color: #ffffff;
    margin: 0vw;
    margin-bottom:5px ;
    padding:7%;
    padding-top: 7%;
    margin-top: 0%;
    background-blend-mode:multiply;
    align-content: top;
    backface-visibility:hidden;
    background-color: #000;
    height: max-content;
    position: relative;
    top: 7vw;
   background-repeat: no-repeat;
   background-size:cover;
   
   background-color: #00000000;
  background-blend-mode: hard-light;
   background-image:10%;
   font-size:s20vh;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.482);
   animation: animate 16s ease-in-out infinite;
   
  }
  @keyframes animate{
    0%,100%{
      background-image: url(C:\Users\Bayasaa\OneDrive\Desktop\js\app2\public\repomse920-2.jpg);
      background-position:100%;
      background-size: 100%;
    }
    20%{
      background-image: url(C:\Users\Bayasaa\OneDrive\Desktop\js\app2\public\repomse920-2.jpg);
      background-position:100%;
      background-size: 100%;
    } 
    50%{
      background-image: url(C:\Users\Bayasaa\OneDrive\Desktop\js\app2\public\monitor.jpg);
      background-position:100%;
      background-size: 100%;
    }
    75%{
      background-image: url(C:\Users\Bayasaa\OneDrive\Desktop\js\app2\public\vd3.jpg);
     background-size: 100%;
     background-position: 100%;
    }
  }
  .product-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 24vh;
    margin-left: 10%;
    box-shadow: 0 1px 100px rgb(0, 0, 0);
    width:50vw;
    height: fit-content;
    margin-bottom: 20%;
    padding-left: 14%;
padding-right: 14%;
  }
  .product-section h3{
    display: flex;
    justify-content: center;
    font-size: 4vw; 
    align-items: flex-start;
   color:rgb(255, 255, 255);
    padding-right: 50%;
    margin-bottom: 1%;
    position: relative;
    left: 25%;
    
  }
  .product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.568);
    width: 150px;
    height: 40%;
    border-radius: 5%;
    color:rgb(255, 255, 255);
    font-size: smaller;
  }
  
  .product-description img {
    
    border-radius: 5%;
    background-size: 10%;
  }
.up {
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: #fff;
}
  .hot {
    display: flex;
     
    
    flex-direction:column; /* This ensures the elements are displayed in a row */
     /* Spacing between elements */
    align-items: center; /* Vertically align elements in the middle */
    margin-bottom: 10vh;
    justify-content:right;
    color: #fff;
    border-radius: 10%;
   box-shadow:#000000 ;
   margin-top: 0%;
    
  }
  
  .hot p{
    display: flex;
    flex-direction:row; /* This ensures the elements are displayed in a row */
    background-color: #000e5f;
    background-size:50%;
   color: #fff;
    align-items: center; /* Vertically align elements in the middle */
    margin-bottom: 2vh;
    justify-content:space-evenly;
    position: absolute;
    left: 0;
    font-size:smaller;
    padding: 5%;
margin-right: 65%;
   border-radius: 10%;
   transition: transform 0.6s ease 0s;
   border-color: #000e5f;
  }
  .hot p:hover{
    transform:scale(1.2);
    background-color: #ffffff;
    z-index: 900;
   color: #00093d;
  }
  .hot img{
    width:50% ;
    height:50% ;
    border-radius: 5%;
    background-color: #fff;
    background-size: 10%;
    box-shadow: #000;
    transition: transform 0.6s ease 0s;
  }
  .hot img:hover{
    transform:scale(1.2);
    
    z-index: 900;
  }
  .hot h3{
    position: absolute;
    right: 5%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 5%;
  }
  .new{
    display: flex;
    flex-direction:column-reverse; /* This ensures the elements are displayed in a row */
     /* Spacing between elements */
    align-items: center; /* Vertically align elements in the middle */
 
    margin-bottom: 5%;
    justify-content: flex-end;
    
    border-radius: 5%;
    background-color: #fff;
    background-size:40vw;
    margin-left: 25%;
    margin-right: 25%;
    color: #fff;
    
  }
  .new img{
    width:30% ;
    height:100% ;
    border-radius: 5%;
    background-color: #fff;
    background-size: 5%;
    box-shadow: #000;
    transition: transform 0.6s ease 0s;
  }
  .new p:hover{
    transform:scale(1.2);
    background-color: #ffffff;
    z-index: 900;
   color: #000e5f;
  }
  .new img:hover{
    transform:scale(1.2);
    
    z-index: 900;
  }
  .new p{
    margin-left: 0vw;
    justify-content: center;
    font-size: larger;
   margin-right:20%;
   font-size: medium;
   background-color: #000e5f;
   color: #fff;
   padding: 3%;
   border-radius: 10%;
   margin-right: 65% ;
   margin-left: 0% ;
   position: absolute;
   right: 0;
   transition: transform 0.6s ease 0s;

  }
  .new h1{
    font-size: 10px;
  }
  .new h3{
    position: absolute;
    right: 10%;}
  .pic{
    margin-top: 1%;
    font-size: 130%;
    display:flex ;
    flex-direction: column;
    
    justify-content:flex-start ;
    background-color: #ffffff;
    background-size: cover;
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 3%;
    border-radius: 0%;
    color: #000;
   
  }
  
  .pic::before{
    content: "";
    position:relative;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #000000;
    margin-bottom: 3%;
    justify-items: flex-start;
  }
  .pic::after {
    content: "";
    position:relative;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #000000;
    margin-bottom: 0%;
    justify-items: flex-start;
  }
 .pic p{
  margin-top: 0%;
  justify-items: center;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  color: #000;
 }
 
  .pic img{
    border-radius: 0%;
    width:40%;
    height: max-content;
    position: relative;
    left: 30%;
    justify-items: center;
    background-size: cover;
    margin-left: 0%;
    image-resolution:inherit ;
    box-shadow: #000;
    box-shadow: #000;
    padding: 1%;
    transition: transform 0.6s ease 0s;
  }
  .pic img:hover{
    transform:scale(1.2);
    color: #000000;
    
  }
  .pic img:hover::after{
    content: "";
    height: 10px;
    width: 30%;
    background-color: #000000;
    position: absolute;
    bottom: -4px;
    left:20px ;
    
  }
  .features-section {
    display: flex;
    flex-direction: row;
    padding: 0%;
    background-color: #000000a1;
    border-radius: 0%;
    transition: transform 0.6s ease 0s;
    transform: translateY(10px);
  }
  .features-section::backdrop{
    transform: translateY(10px);
  }
  .f1, .f2, .f3 {
    text-align: center;
    padding: 0%;
    gap: 0px;
    margin-top: 10%;
    flex: 1;
    color: #000;
    margin-right:0% ;
    margin-left:0% ;
    margin-bottom: 5%;
    flex-direction:row;
    background-repeat: no-repeat;
    background-size:contain;
    border: 5px solid rgb(0, 0, 0);
    border-style:groove;
    background-color:rgb(255, 255, 255);
    color: #000000;
    border-radius: 0%;
    position: relative;
    top: 0cm;
  }
  
  .feat{
    display: flex;
    padding: 0%;
    margin-top: 0%;
    padding-bottom: 2%;
    flex-direction: row;
    padding-left: 14%;
padding-right: 14%;
background:linear-gradient(100deg, white,white, rgb(2, 27, 255) );
background-image:image();
   
  }
  .feat1{
    padding: 2%;
    margin-bottom: 0%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-style:oblique;
  font-weight: 100;
  align-content: flex-start;
  flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    background:linear-gradient(90deg, white,white, rgb(2, 27, 255) );
    color: #000;
   
  }
  .feat1::after{
    content: "";
    position:relative;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #a3a3a3;
    margin-bottom: 3%;
    bottom: 0;
  }
  .feat2{
    display: flex;
    flex-direction:initial;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
padding:1%;
  }
  .feat2 img{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    transition: transform 0.6s ease 0s;
    border-radius: 5%;
    
  }
  .feat2 img:hover{
    transform:scale(1.2);
    color: #9d9d9d;
    
  }
  .feat2 img:hover::after{
    content: "";
    height: 10px;
    width: 40%;
    background-color: #000000;
    position: absolute;
    bottom: -4px;
    left:20px ;
    
  }
  /* Common styles for feature content */
  .feature img {
    max-width: 70px;
    height: auto;
    margin-bottom: 0px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 0px;
  }
  @media screen and (max-width: 650px){
    .hot {
      display: flex;
      flex-direction:column; /* This ensures the elements are displayed in a row */
       /* Spacing between elements */
      align-items: center; /* Vertically align elements in the middle */
      margin-bottom: 10vh;
      justify-content:right;
      background-color: #ffffff;
      border-radius: 10%;
     box-shadow:#000 ;}
   
    .product-section.h3{
      padding-right: 0%;
    }
    .product-section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 7vh;
      margin-left: 1%;
      box-shadow: 0 1px 100px rgb(0, 0, 0);
      width:50vw;
      height: fit-content;
      margin-bottom: 20%;
      padding-left: 1%;
  padding-right: 1%;
    }
    .product-section h3{
      display: flex;
      justify-content: center;
      font-size: 4vw; 
      align-items:top;
     color:rgb(255, 255, 255);
      padding-right: 0%;
      margin-bottom: 0%;
      position: relative;
      left: 2%;
      
    }
    .product-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2px;
      margin: 0px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.568);
      width: 50px;
      height: 10%;
      border-radius: 5%;
      color:rgb(255, 255, 255);
      font-size: smaller;
    }
    
    .product-description img {
      width: 90%;
      height: auto;
      border-radius: 5%;
    }
    .hot {
      display: flex;
       
      
      flex-direction:column; /* This ensures the elements are displayed in a row */
       /* Spacing between elements */
      align-items: center; /* Vertically align elements in the middle */
      margin-bottom: 10vh;
      justify-content:right;
      
      border-radius: 10%;
     box-shadow:#000000 ;
     margin-top: 0%;
      
    }
    
    .hot p{
      display: flex;
      flex-direction:row; /* This ensures the elements are displayed in a row */
      background-color: #000e5f;
      background-size:50%;
     color: #fff;
      align-items: center; /* Vertically align elements in the middle */
      margin-bottom: 2vh;
      justify-content:space-evenly;
      position: absolute;
      left: 0;
      font-size:smaller;
      padding: 5%;
  margin-right: 65%;
     border-radius: 10%;
     transition: transform 0.6s ease 0s;
     border-color: #000e5f;
    }
    .hot p:hover{
      transform:scale(1.2);
      background-color: #ffffff;
      z-index: 900;
     color: #00093d;
    }
    .hot img{
      border-radius: 5%;
      width: 10;
      background-color: #fff;
      background-size: 10%;
      box-shadow: #000;
      transition: transform 0.6s ease 0s;
    }
    .hot img:hover{
      transform:scale(1.2);
      
      z-index: 900;
    }
    .hot h3{
      position: absolute;
      right: 5%;
      
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      align-items: center;
      padding: 5%;
    }
    .new{
      display: flex;
      flex-direction:column-reverse; /* This ensures the elements are displayed in a row */
       /* Spacing between elements */
      align-items: center; /* Vertically align elements in the middle */
   
      margin-bottom: 5%;
      justify-content: flex-end;
      border-radius: 5%;
    }
    .new img{
      border-radius: 5%;
      background-color: #fff;
      background-size: 20%;
      box-shadow: #000;
      transition: transform 0.6s ease 0s;
      
    }
    .new p:hover{
      transform:scale(1.2);
      background-color: #ffffff;
      z-index: 900;
     color: #000e5f;
    }
    .new img:hover{
      transform:scale(1.2);
      
      z-index: 900;
    }
    
    .new p{
      margin-left: 0vw;
      justify-content: center;
      font-size:2px;
     margin-right:20%;
     font-size:10px;
     background-color: #000e5f;
     color: #fff;
     padding: 0%;
     border-radius: 10%;
     margin-right: 65% ;
     margin-left: 0% ;
     position: absolute;
     right: 0;
     transition: transform 0.6s ease 0s;
  
    }
    .new h3{
      position: absolute;
      right: 10%;}
  }