.pp{
    
    display:list-item;
    
    
    margin-top: 0%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.156);
    overflow: hidden;
}
.products{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0%;
    background-color: rgb(240, 241, 255);
}
.products-1{
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 100px;
    border-color: black;
}
.product-info {
    display: grid;
    position: relative;
    left: 10%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    margin: 20px;
    box-shadow: 5px 5px 5px rgb(48, 41, 41);
    width: 35em;
    position: relative;
    left: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 0%;
    border-color: black;
   }
   
   .product-info img {
    width: 70%;
   
    padding: 10%;
    border-radius: 5px;
    border: solid 1px #0000002f;
    border-radius: 0.5rem;
    margin-top: 1rem;
    object-fit: cover;
    max-height: 400px;
   }
   .product-info img:hover{
    transform: scale(1.3);
    transition: 0.5s;
   }
   
   .product-info h2 {
    margin: 15px 0;
    font-size: 24px;
    color: rgb(0, 0, 0);
   }
   
   .product-info p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: 10vh;
    border-color:black;
   }
   .product-1{
    border-color: black;
    border-width: 10em;
   }
   .Learn-more {
    padding: 2%;
    margin: 4%;
    border: solid 1px #00000060;

   }
   .Learn-more:hover{
    background-color: rgba(0, 0, 0, 0.151);
    border:0px;
      transition: background-color 1s;
  justify-items: center;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: transform ;
   }