.service  {
  font-family: Arial, sans-serif;
  
  box-shadow: 0 0 0px 3px #5a6ed8ff;
 color: rgb(44, 44, 44);
 margin-top: 0%;
 position: relative;
 top:0vh ;
 padding-left: 14%;
 padding-right: 14%;
  
}
.service body{
  background-color: #ffffff;
  padding-left: 14%;
 padding-right: 14%;
}

.service h1 {
  color: #007bff;
  padding: 4%;
  color: #ffffff;
  background-color: #00065f;
}

.service p {
  line-height: 1.5;
  padding: 4%;
  color: #ffffff;
  background-color: #00065f;
  margin:2rem;
  border-radius: 0rem;
}
.service h2{
  padding-left: 0%;
  color: #ffffff;
  background-color: #00065f;
  margin:2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.f-section {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-right: 0%;
 margin-left: 0%;
    background-color: #ffffff;
    position: relative;
    top: 0px;
    border: #000000;
  border-radius: 0%;
  display: flex;
  align-content: center;

  }
  
  .f {
    text-align: center;
    padding: 0 5%;
    margin-left: 0%;
    margin-right: 0%;
   display: flex;
   flex-direction: column;
   display: flex;
  align-content: center;
   position: relative;
  
  }
  
  .f img {
    max-width: 300px;
    padding-top: 20%;
    height:100px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 0%;
    transition: transform 0.5s ease 0s;
    position: relative;
    left: 30%;
  display: flex;
  align-content: center;
  }
  .f img:hover{
    transform:scale(1.3);
    color: #9d9d9d;
    
  }
  .f img:hover::after{
    content: "";
    height: 2px;
    width: 30%;
    size: 100cap;
    background-color: #000000;
    position: absolute;
    bottom: -4px;
    left:20px ;
    
  }
  
  .f h3 {
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
  }
  .ending{
    margin-bottom:0%;
  }
  @media screen and (max-width: 650px) {
    .f-section {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 60px 0;
      background-color: #ffffff;
    }
    
    .f {
      display: flex;
      text-align: center;
      padding: 0 5%;
      margin-left: 0%;
      margin-right: 0%;
     display: flex;
     flex-direction: column;
    }
    
    .f img {
      max-width:70px;
      height: auto;
      margin-bottom: 20px;
      border-radius: 7%;
      display: flex;
      justify-items: center;
      position: relative;
      left: 24%;
    }    
    .f h3 {
      font-size: 30px;
      margin-bottom: 10px;
      justify-content: center;
      
    }
    .f p{
font-size:10px ;
    }
    
    
  }